@import "./animation.scss";

* {
  margin: 0;
  padding: 0;
}
.timer {
  height: 95vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: tomato;
  .wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: pre-wrap;
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    input {
      text-align: center;
      color: tomato;
      border: none;
      outline: none;
      width: calc(100vw / 5);
      margin-right: 10px;
      font-size: 100px;
      border-radius: 10px;
    }
  }
  fieldset {
    border: none;
  }

  span {
    font-size: 25px;
  }
}
button {
  background-color: tomato;
  height: 30px;
  width: 300px;
  margin: -20px -50px;
  position: relative;
  top: 50%;
  left: 40%;
}
.btn {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  &:hover {
    background-color: white;
    color: black;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  }
  &: disabled;
}
.btn .disabled {
  opacity: 0.5;
  &:hover {
  }
}
.sec,
.min,
.hours,
.days {
  display: flex;
  flex-direction: column;
}
.sec {
  .over {
    font-size: 20px;
  }
}
.error {
  animation: blinking 3s;
}
