@import "./animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  font-family: "Karla", sans-serif;
  height: 100vh;
}
.timer {
  display: flex;
  text-align: center;
  flex-direction: column;
  .wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: pre-wrap;
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    input {
      text-align: center;
      border: none;
      outline: none;
      width: calc(100vw / 5);
      margin-right: 10px;
      font-size: 15vw;
      border-radius: 10px 10px 0 0;
    }
  }
  fieldset {
    border: none;
  }

  span {
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 10px;
    margin-right: 10px;
    border-radius: 0 0 10px 10px;
  }
}

.control-wrapper {
  margin-top: 150px;
  margin: 0 auto;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

button {
  height: 100px;
  width: 150px;
  margin-right: 10px;
}
.btn {
  border: 1px solid white;
  background-color: white;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  &:hover:enabled {
    background-color: transparent;
    color: white;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.sec,
.min,
.hours,
.days {
  display: flex;
  flex-direction: column;
}

input {
  color: rgba(255, 255, 255, 0.685);
  background-color: transparent;
  box-shadow: 2px 5px 100px 1px rgba(34, 60, 80, 0.19);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.sec {
  .over {
    font-size: 20px;
  }
}
.error {
  animation: tremor 0.5s;
}
.errorInfo {
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-top: 10px;
  animation: blinking 1s;
}
