* {
  margin: 0;
  padding: 0;
}
.timer {
  height: 95vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: tomato;
  .wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    .myInput {
      text-align: center;
      color: tomato;
      border: none;
      outline: none;
      width: calc(100vw / 5);
      margin-right: 10px;
      font-size: 100px;
    }
  }
  fieldset {
    border: none;
  }

  span {
    font-size: 25px;
  }
}
.btn {
  text-align: center;
  color: tomato;
  margin-top: 10px;
  font-size: 20px;
}
